[submodule "dailyfeed-timeline"]
	path = dailyfeed-timeline
	url = https://github.com/alpha3002025/dailyfeed-timeline.git
[submodule "dailyfeed-code"]
	path = dailyfeed-code
	url = https://github.com/alpha3002025/dailyfeed-code.git
[submodule "dailyfeed-infrastructure"]
	path = dailyfeed-infrastructure
	url = https://github.com/alpha3002025/dailyfeed-infrastructure.git
[submodule "dailyfeed-feign"]
	path = dailyfeed-feign
	url = https://github.com/alpha3002025/dailyfeed-feign.git
[submodule "dailyfeed-pagination-support"]
	path = dailyfeed-pagination-support
	url = https://github.com/alpha3002025/dailyfeed-pagination-support.git
