[submodule "dailyfeed-timeline"]
	path = dailyfeed-timeline
	url = https://github.com/alpha3002025/dailyfeed-timeline.git
[submodule "dailyfeed-code"]
	path = dailyfeed-code
	url = https://github.com/alpha3002025/dailyfeed-code.git
[submodule "dailyfeed-infrastructure"]
	path = dailyfeed-infrastructure
	url = https://github.com/alpha3002025/dailyfeed-infrastructure.git
[submodule "dailyfeed-feign"]
	path = dailyfeed-feign
	url = https://github.com/alpha3002025/dailyfeed-feign.git
[submodule "dailyfeed-pagination-support"]
	path = dailyfeed-pagination-support
	url = https://github.com/alpha3002025/dailyfeed-pagination-support.git
[submodule "dailyfeed-redis-support"]
	path = dailyfeed-redis-support
	url = https://github.com/alpha3002025/dailyfeed-redis-support.git
[submodule "dailyfeed-kafka-support"]
	path = dailyfeed-kafka-support
	url = https://github.com/alpha3002025/dailyfeed-kafka-support.git
[submodule "dailyfeed-app-helm"]
	path = dailyfeed-app-helm
	url = https://github.com/alpha3002025/dailyfeed-app-helm.git
